body {
    padding: 0;
    margin: 0;
}

.content {
    margin: 0 auto;
}

.field-settings {
    padding: 10px;
}
/*centering table*/
.play-field-wrapper table {
    margin-right: auto;
    margin-left: auto;
}

.play-btn-wrapper {

}